body{
    background: #f1f5f2;
}
.main {
    color: #03045e;
}
nav a {
    color: black;
}
.article__heading {
color: #8CFF98;     
background: #fcffeb;
}
.article__topic {
    color: #364652;
}
.article__text {
    color: #071108; 
    background-color: #ffffff;
    padding: 10px;
}
#footer {
    color: #62b6cb;
    background: black;s
}
footer a {
    color: #62b6cb;
}
.main {
    width: 1000px;
    margin: auto;
    position: relative;
}